
.section{
	min-height: 90vh;
}

.nav-wrapper{
	height: 72px;
}

#schedule-section{
	min-height: 50vh;
}

/*overriding Materialize*/

.brand-logo{
	margin-left: 16px;
}


nav ul a:hover{
	background-color: rgba(250, 250, 250, 0.1);
}

ul li a{
	font-family: 'Josefin Sans', sans-serif;
}

.side-nav-header{
	padding: 30px;
}

.li-item{
	list-style-type: circle;
	color: white;
}
/*Utility Classes*/

.light-heading{
	color: #fafafa;
	font-family: 'Josefin Sans', sans-serif;	
}

.dark-heading{
	color: #212121;
	font-family: 'Josefin Sans', sans-serif;
}

.time-font{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}


.domain_icon{
	max-width: 150px;
	max-height: 150px;
}

input[type=text]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]){
	border-bottom: 1px solid #1de9b6;
	box-shadow: 0 1px 0 0 #1de9b6;
}

input[type=text].valid
,input[type=tel].valid{
	border-bottom: 1px solid #00E676;
	box-shadow: 0 1px 0 0 #00E676;
}

input[type=text]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label{
	color: #1de9b6;
}

.input-field .prefix.active{
	color: #1de9b6;
}

ul li a.active{
	color: #1de9b6;
    background-color: rgba(250, 250, 250, 0.1);
}

.side-nav li>a.active{
	background-color: rgba(0, 0, 0, 0.05);	
}

#domains-section .col{
	padding-bottom: 20px;
}

.col p{
	text-align: justify;
}

.domain-content{
	font-size: 1.2em;
}

/*FAQ Accordions*/

#faq-section .collapsible{
	font-family: 'Josefin Sans', sans-serif;
	border: 0px;
	box-shadow: none;
	font-size: 1.3rem;
}
#faq-section .collapsible-header{
	
	
	border: 0px;
	box-shadow: none;
	transition: color 1s;
	font-weight: bold;
	background: transparent;
}
#faq-section .collapsible-header:hover{
	border: 0px;
	box-shadow: none;
	color: #1de9b6;
}
#faq-section .collapsible-body{
	font-size: 1.1rem;
	border: 0px;
}
.cross-box{
	padding-right: 5px;
	
}
.cross-box > span{

	display: inline-block;
	width:15px;
	height: 2px;
	background: black;
}

.horizontal-span{
	top: -15px !important;
	left: 15.25px;
}
.rotating-span{
	position: relative;
	left: 15.25px;	
	transform: rotate(90deg);	
	transition: .25s ease-in-out;
}
.open{
	transform: rotate(0deg);
}

/*FAQ Accordions -- end*/




/*Trpohy animation*/
.trophy-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 350px;
}

.trophy{
	height: 100%;
	width: 100%;
	background-image: url("assets/trophy.png");

}

.trophy-badge{
	position: absolute;
	top: 40%;
	left: 0px;
	transform: translateY(-50%) scale(0);
	transition: all 600ms cubic-bezier(0.4, 0.0, 0.2, 1);
	filter: drop-shadow( 0 10px 15px rgba(11,27,38, 0.3));

	width: 120px;
	height: 172.5px;
	background-image: url("assets/badge.png");
	background-size: contain;
}

.badge-visible{
	transform: translateY(-50%) scale(1);
}
/*Trophy animation -- End*/


.sponsors-logo-div{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #1de9b6;
	padding: 10px;
	background-color: #fafafa;
}

.sponsors-img{
	width: 100px;
	/*max-width: 100px;*/
}


.side-gfx{
	background-image: url(assets/side_gfx.png);
    background-repeat: no-repeat;
    background-position: 95vw 0px;
    background-size: contain;
    background-blend-mode: luminosity;
    transition: background-position 600ms cubic-bezier(0.4, 0.0, 0.2, 1);
}


.side-gfx-visible{
	background-position: 85vw 0px;
}