
.section{
	min-height: 90vh;
}

.nav-wrapper{
	height: 72px;
}

/*overriding Materialize*/

.brand-logo{
	margin-left: 16px;
}

nav ul a:hover{
	background-color: rgba(250, 250, 250, 0.1);
}

ul li a{
	font-family: 'Josefin Sans', sans-serif;
}

.side-nav-header{
	padding: 30px;
}

/*Utility Classes*/

.light-heading{
	color: #fafafa;
}

.dark-heading{
	color: #212121;
}