
.section{
	min-height: 90vh;
}

.nav-wrapper{
	height: 72px;
}

/*overriding Materialize*/

.brand-logo{
	margin-left: 16px;
}

nav ul a:hover{
	background-color: rgba(250, 250, 250, 0.1);
}

ul li a{
	font-family: 'Josefin Sans', sans-serif;
}

.side-nav-header{
	padding: 30px;
}
.li-item{
	list-style-type: circle;
	color: white;
}
/*Utility Classes*/

.light-heading{
	color: #fafafa;
	font-family: 'Josefin Sans', sans-serif;	
}

.dark-heading{
	color: #212121;
	font-family: 'Josefin Sans', sans-serif;
}

.container-fluid{
	background-image: url(assets/side_gfx.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-blend-mode: luminosity;
}

.domain_icon{
	max-width: 150px;
	max-height: 150px;
}