// @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i');

// $bold: 'Oswald', sans-serif;
// $abril: 'Abril Fatface', serif;
// $serif: 'Playfair Display', serif;

$cyan: #64ffda;
$dark: #212121;
// $grey: #333333;

$ease-slow: all 0.4s ease-out; 

body{
  cursor: url(assets/cursors/cursor.cur), auto;
}

a {
  text-decoration: none;
  color: $dark;
  &:hover {
    // background: $dark;
    color: $cyan;
  }
}

.sticky {
  position: fixed;
  z-index: 10;
}
.navbar--container {
  top: 15%;
  color: $dark;
  background: $cyan;
  left: 0;
  height: 250px;
  width: 80px;
  box-shadow: 2px 2px 15px rgba($cyan, 0.5);
  visibility: visible;
  
}

.navbar--icon {
  &:hover {
    color: $dark;
    cursor: url(assets/cursors/pointer.cur), default;
  }
}

.nb-icon {
  margin-bottom: 49px;
  margin-left: 39px;
  font-size: 1.2em;
}

.navbar--title {
  margin-left: 40px;
  margin-top: 20px;
  h4 {
    writing-mode: vertical-rl;
    // font-family: $bold;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    font-size: 1.1em;
    color: $dark;
  }
}

//navigation open

.nav--open {
  height: 100vh;
  width: 300px;
  left: 0;
  // top: 20vh;
  // background: rgba(100, 255, 219, 0.397);
  transition: $ease-slow;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba($cyan, 0.5);
  // backdrop-filter: blur(5px);
  background: $dark;
  z-index: 8;
}

.nav--open-icon {
  text-align: right;
  padding: 20px;
  i {
    font-size: 1.8em;
    color: $cyan;
    &:hover {
      color: $dark;
      background: $cyan;
      cursor: url(assets/cursors/pointer.cur), default;
    }
  }
}

.nav--open-title {
  // font-family: $serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 10%;
  color: $cyan;
}

.nav--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  a {
    font-size: 2em;
    font-weight: 100;
    // font-family: $serif;
    padding: 15px 0;
    color: $cyan;
    text-decoration: none;
    &:hover {
      background: $dark;
      box-shadow: 2px 2px 15px rgba($cyan, 0.5);
    }
  }
}

.close {
  transform: translateX(-300px);
  transition: $ease-slow;
  opacity: 0;
}

#register {
  height: 100%;
  // margin-top: 2em;
  background: $cyan;
  color: $dark;
  &:hover {
    background: $dark;
    color: $cyan;
    box-shadow: 5px 5px 25px rgba($cyan, 0.5);
  }
}

// .main {
//   margin-top: 20vh;
// }

// Page Footer
.page-footer {
  margin-bottom: 0;
}

// Countdown Timer
.countdown {
  width: 100vw;
  height: 110px;
  z-index: 9;
  bottom: 0;
  margin-bottom: -30px;
  box-shadow: 2px 2px 15px rgba($cyan, 0.5);
}

// @media only screen and (max-device-width:481px) {
//   .countdown {
//     height: 10vh;
//   }
//   // .nav--open {
//   //   height: 100vh;
//   //   z-index: 8;
//   // }
//   .page-footer {
//     margin-bottom: 10vh;
//   }

// }

// @media only screen and (max-device-width:360px) {
//   .countdown {
//     height: 11vh;
//   }
//   // .nav--open {
//   //   height: 100vh;
//   //   z-index: 8;
//   // }
//   .page-footer {
//     margin-bottom: 11vh;
//   }

// }



// Glow on Hover
.glow-light {
  // color: $cyan;
  &:hover {
    // color: white;
    box-shadow: 2px 2px 15px rgba($cyan, 0.5);
  }
}

.glow-dark {
  &:hover {
    box-shadow: 2px 2px 15px rgba($dark, 0.5);
  }
}

// landing Section
#landing-section {
  height: 300px;
  padding-top: 100px !important;
}

// Err404 Button
.err404-btn {
  color: $cyan;
  &:hover {
    color: #fafafa;
    cursor: pointer;
  }
}


// Scroll Bar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to top, $dark, $cyan, $dark);
  //  box-shadow: inset 2px 2px 2px rgba($dark, 0.5), inset 2px 2px 2px rgba($dark, 0.5);
}

::-webkit-scrollbar-track {
  background: $dark;
}

// Pointer Cursor

.glove a{
  cursor: url(assets/cursors/pointer.cur), default;
}

#faq-section .collapsible-header:hover {
  cursor: url(assets/cursors/pointer.cur), default !important;
  
}

.jfForm-background-mask {
  background: #212121 !important;
}