html, body {
    background-color: #fafafa;
    /* overflow: scroll; */
    min-height: 100vh;
}

#main {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.extra_name, .extra_email {
    display: none;
}